<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photobooth Professional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="theme-welcome">

    <div id="flash"></div>

    <main class="main-content">
        
        <div id="screen-welcome" class="screen active">
            <div class="title-group">
                <img src="{{ url_for('static', filename='image/typo.png') }}" alt="TYPO Logo" class="typo-logo-img">
            </div>
            <p class="welcome-text">
                Chào mừng cậu đến với Xứ sở nhiệm màu, nơi những điều kỳ diệu đang chờ được khám phá!<br>
                Hãy cùng Henry và những người bạn đồng hành trong chuyến phiêu lưu đó.<br>
                Cậu đã sẵn sàng chưa nào?
            </p>
            <div class="actions">
                <button id="btnStart" class="btn-cloud-start btn-cloud-welcome">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây chụp bắt đầu" >
                    <span class="btn-cloud-text">Bắt đầu thôi!</span>
                </button>
            </div>
        </div>

        <div id="screen-guide" class="screen">
            <h2 class="guide-title">BÍ KÍP THAM GIA CHUYẾN PHIÊU LƯU</h2>
            
            <div class="guide-workspace">
                <div class="guide-column">
                    <span class="guide-number">01</span>
                    <div class="guide-card">
                        <h3>CHỌN KHUNG XINH</h3>
                        <p>Chọn khung ảnh cậu yêu thích để chụp cùng Henry, Martin và Malice ngay</p>
                    </div>
                </div>
                
                <div class="guide-column">
                    <span class="guide-number">02</span>
                    <div class="guide-card">
                        <h3>CÙNG TẠO DÁNG</h3>
                        <p>Đợi đồng hồ đếm ngược rồi cười thật tươi hoặc tạo dáng thật ngầu nhé!</p>
                    </div>
                </div>
                
                <div class="guide-column">
                    <span class="guide-number">03</span>
                    <div class="guide-card">
                        <h3>CHIA SẺ NGAY</h3>
                        <p>Tải ngay bức ảnh của riêng cậu và chia sẻ kỷ niệm tại Xứ sở nhiệm màu thôi nào!</p>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button id="btnFromGuideToLayout" class="btn-cloud-start btn-cloud-guide">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây phiêu lưu">
                    <span class="btn-cloud-text" style="font-size: 0.95rem;">Cùng phiêu lưu thôi</span>
                </button>
            </div>
        </div>
        
        <div id="screen-layout" class="screen" style="margin-top: -3vh; position: relative; height: 75vh;">
            <h2 class="screen-title" style="color: #ffffff; font-family: 'CCMM-Cute', sans-serif; font-size: 2.2rem; font-weight: 800; text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25); margin-bottom: 15vh; text-transform: uppercase; letter-spacing: 2px;">CHỌN NHÂN VẬT CẬU YÊU THÍCH NHÉ!</h2>
            
            <div id="layoutContainer" class="layout-grid"></div>
            
            <div class="actions" style="position: fixed; bottom: -8vh; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; width: auto; margin-top: 0; z-index: 100;">
                <button id="btnStartCapture" class="btn-cloud-start btn-cloud-StartCapture">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây chụp hình">
                    <span class="btn-cloud-text" style="font-size: 0.95rem; ">Cười thật tươi nhé</span>
                </button>
            </div>
        </div>
        
        <div id="screen-capture" class="screen">
            <div class="camera-box">
                <video id="videoElement" autoplay playsinline></video>
                <img id="cameraOverlay" class="camera-overlay hidden" src="" alt="Pose Overlay">
                <div id="countdown" class="hidden">3</div>
            </div>
            <p class="capture-status"><span id="captureProgress">1/8</span></p>
        </div>

        <div id="screen-selection" class="screen">
            <h2 class="selection-title">CÙNG NHÌN LẠI CHUYẾN PHIÊU LƯU VÀ LỰA CHỌN KHOẢNH KHẮC CẬU YÊU THÍCH NHẤT NHÉ!</h2>

            <div class="selection-workspace">
                <div class="photo-pool" id="photoPoolLeft"></div>
                <div class="strip-preview-container" id="stripPreviewContainer"></div>
                <div class="photo-pool" id="photoPoolRight"></div>
            </div>

            <div class="selection-actions-fixed">
                <button id="btnConfirmSelection" class="btn-cloud-start btn-cloud-selection" disabled>
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây in ảnh">
                    <span class="btn-cloud-text" style="font-size: 0.95rem; color: #9a4d20;">In ảnh</span>
                </button>
            </div>
        </div>

        <div id="screen-final" class="screen">
            <div class="canvas-container">
                <canvas id="canvasElement"></canvas>
            </div>
            
            <div class="actions final-actions-container">
                <button id="btnBackToSelection" class="btn-cloud-start btn-cloud-Back">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây quay lại">
                    <span class="btn-cloud-text" style="color: #9a4d20;">Quay lại</span>
                </button>
                
                <button id="btnSave" class="btn-cloud-start btn-cloud-save">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây tải về">
                    <span class="btn-cloud-text" style="color: #9a4d20;">Tải xuống</span>
                </button>
                
                <button id="btnRetake" class="btn-cloud-start btn-cloud-retake">
                    <img src="{{ url_for('static', filename='image/nút mây.png') }}" alt="Mây chụp lại">
                    <span class="btn-cloud-text" style="color: #9a4d20;">Chụp lại</span>
                </button>
            </div>
        </div>

        <div id="screen-thanks" class="screen">
            <div class="thanks-box">
                <img src="{{ url_for('static', filename='image/typo.png') }}" alt="TYPO Logo" class="typo-logo-img thanks-logo-img">
                <p class="thanks-subtitle">
                    CẢM ƠN CẬU VÌ NHỮNG KỶ NIỆM THẬT TUYỆT VỜI TẠI XỨ SỞ NHIỆM MÀU!<br>
                    HÃY TIẾP TỤC NHỮNG CHUYẾN PHIÊU LƯU KHÁC CÙNG NHAU NHÉ!
                </p>
            </div>
        </div>
    </main>

    <footer class="footer999">
        <p>made by <span style="color: #0000fe;">Hạ Kim</span>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}?v=2"></script>
</body>
</html>